@import "../lib/lib";
@import "modules/app";


body {
  // background-color: orange;
  // color:white;
  font-size: 16px;
  display: flex;
  border: 1px solid green;
  height: 600px;
  flex-wrap: wrap;
  
}
.boardContainer{
  border: 1px solid black;
  display: flex;
  height: 400px;
  width: 100%;
}
.game{
  height: 170px;
  width: 170px;
  // display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  // vertical-align: middle;
  // display: flex;
  // align-items: center;
}
.game1 {
  background: blue;
  color: white;
}
.game2 {
  background: green;
  color: white;
}
.game3 {
  background: yellow;
  color: white;
}
// .game2{
//   background: red;
//   height: 70px;
//   width: 70px;
// }
footer{
  width: 100%;
}

