.game3Container {
    border: 0.1rem solid yellow;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

   
    .cell {
        color: red;
    }
}

.game3Img{
    
    width: 90rem;
    height: 70rem;
    border: 0.1rem solid yellow;
    margin-top: 0rem;
    margin-bottom: -24rem;
    img{
        width: 100%;
        height: 100%;
    }     
}